<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">

	<title>BANNER</title>
</head>

<body>

<div class="jumbotron fond">
  <div class="jumbotron-text">Des rencontres pour vos sorties !</div>
  <p class="lead">Eventbrite propose de dépasser OVS qui est payant.</p>
  <div class="my-2"> </div>
  <p>(P.S : Photographier des gens en train de manger est impoli)</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Trouvez votre ville !</a>
</div>

</br>
</br>
</br>
</br>
</br>
</br>

<div class="jumbotron fond-smaller">
  <div class="jumbotron-text-smaller">Besoin d'informations ?</div>
  <a class="btn btn-success btn-lg" href="#" role="button">Contactez-nous !</a>
</div>






</body>
</html>