<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">
	<title>CARD</title>
</head>
<body>
<!-- EVENTS -->
<h2 class="text-center"> Les évènements </h2>
	<div class="row" style="justify-content: space-around;" >
	 <div class="column-6">
		<div class="card border-success mb-4" style="width: 15rem;">
		  <div class="card-header border-success bg-light"> Monaco </div>
		  <div class="card-body">
		    <h6 class="card-subtitle mb-2 text-muted">Visite de l'aquarium</h6>
		    <p class="card-text">RDV à tous le premier week-end pour profiter des musées gratuits !</p>
		    <a href="#" class="card-link ">Voir l'event</a>
		    <a href="#" class="card-link">Nature</a>
		  </div>
		</div>
	 </div>

	 <div class="column-6">
		<div class="card border-warning mb-4" style="width: 15rem;">
		  <div class="card-header border-warning bg-light"> Antibes </div>
		  <div class="card-body">
		    <h6 class="card-subtitle mb-2 text-muted">Visite du château</h6>
		    <p class="card-text">RDV à tous le premier week-end pour profiter des musées gratuits !</p>
		    <a href="#" class="card-link">Voir l'event</a>
		    <a href="#" class="card-link">Culture</a>
		  </div>
		</div>
	 </div>

	 <div class="column-6">
		<div class="card border-secondary mb-4" style="width: 15rem;">
		  <div class="card-header border-secondary bg-light"> Nice </div>
		  <div class="card-body">
		    <h6 class="card-subtitle mb-2 text-muted">Sortie au carnaval</h6>
		    <p class="card-text">Venez tous déguisés et boire un verre ensemble</p>
		    <a href="#" class="card-link">Voir l'event</a>
		    <a href="#" class="card-link mb-8">Soirée</a>
		  </div>
		</div>
	 </div>

	 <div class="column-6">
		<div class="card border-success mb-4" style="width: 15rem;">
		  <div class="card-header border-success bg-light"> Cap d'Ail </div>
		  <div class="card-body">
		    <h6 class="card-subtitle mb-2 text-muted">Sortie pigeon</h6>
		    <p class="card-text">Observer la faune des villes</p>
		    <a href="#" class="card-link">Voir l'event</a>
		    <a href="#" class="card-link">Nature</a>
		  </div>
		</div>
	 </div>
 	</div>

</br>
</br>

<hr> <!-- CITIES -->


</br>
</br>
	<h2 class="text-center"> Les villes </h2>
	
	<div class="row" style="justify-content: space-around;">

	  <div class="column-6">
		  	<div class="card-body">
		    	<h4 class="card-title">Eze</h4>
		    	<h6 class="card-subtitle mb-2 text-muted">Ville médiévale</h6>
		    	<p class="card-text">Dadadadadadada</p>
		    	<a href="#" class="card-link">Evènements associés</a>
		  	</div>
	 </div>

	 <div class="column-6">
		<div class="card-body">
		    <h4 class="card-title">Cannes</h4>
		    <h6 class="card-subtitle mb-2 text-muted">Ville du cinéma</h6>
		    <p class="card-text">Dididididididi</p>
		    <a href="#" class="card-link">Evènements associés</a>
		  </div>
	 </div>

	 <div class="column-6">
		<div class="card-body">
		    <h4 class="card-title">Nice</h4>
		    <h6 class="card-subtitle mb-2 text-muted">Promenade des anglais</h6>
		    <p class="card-text">Dududududududu</p>
		    <a href="#" class="card-link">Evènements associés</a>
		  </div>
	 </div>

	 <div class="column-6">
		<div class="card-body">
		    <h4 class="card-title">Ajaccio</h4>
		    <h6 class="card-subtitle mb-2 text-muted">Charcuterie et randonnée</h6>
		    <p class="card-text">On va pas en faire tout un fromage</p>
		    <a href="#" class="card-link">Evènements associés</a>
		  </div>
	 </div>

	</div>



</br>
</br>

<hr> <!-- MEMBERS -->


</br>
</br>

 
	<h2 class="text-center"> Les membres </h2> <!-- la balise image ne marche pas :( -->


		<div class="my-3 p-3" >
        <h6 class="border-bottom border-gray pb-2 mb-0">Les nouveaux membres</h6>

        <div class="media text-muted pt-3">
           <img src="jason.jpg" alt="" class="mr-2 rounded"/>
          	
          	<p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">@Josiane</strong>
            Je connais José donc je suis venue.
          	</p>
        </div>

        <div class="media text-muted pt-3">
           <img src="jason.jpg" alt="" class="mr-2 rounded"/>
          	
          	<p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">@Jason</strong>
            On me fait souvent la blague de la toison d'or... mais je suis brun.
         	</p>
        </div>


        <small class="d-block text-right mt-3">
          <a href="#">Tous les membres</a>
        </small>
      </div>


		<div class="my-3 p-3" >
        <h6 class="border-bottom border-gray pb-2 mb-0">Participants de Nature</h6>

           <div class="media text-muted pt-3">
           <img src="jason.jpg" alt="" class="mr-2 rounded"/>

         	 <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
             <strong class="d-block text-gray-dark">@Jardin</strong>
             On dit que l'herbe est plus verte chez mon voisin mais ce n'est pas vrai.
          	 </p>
        </div>

        <small class="d-block text-right mt-3">
          <a href="#">Tous les events Nature</a>
        </small>
      </div>


</body>
</html>