<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>FOOTER</title>
</head>

<body>
	
	<blockquote class="blockquote text-center">
		<p class="mb-0"> Eventbrite, la rencontre des grands esprits. </p>
		<footer class="blockquote-footer">Marie-Chantale dans <cite title="Source Title">Marie-Claire</cite> </footer>
	</blockquote>
</body>

<!-- Rajouter des éléments das la colonne centrale -->

<footer>
	<div class="card-footer">
		<p> Footer du site </p>
		<ul>
			<li><a href="#"> Plan du site </a></li>
			<li><a href="#"> Auteurs </a></li>
			<li><a href="#"> Références </a></li>
		</ul>
	</div>	

	
</footer>

</html>