<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>NAVBAR</title>

   <div class="bs-component">
              <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#">Eventbrite</a>
             
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home</a>
                    </li>

               <!-- Réparer le dropdown -->  
                    <li class="nav-item dropdown">
					             <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Villes</a>
					             <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
					                 <a class="dropdown-item" href="#">Nice</a>
					                 <a class="dropdown-item" href="#">Paris</a>
					                 <a class="dropdown-item" href="#">Lille</a>
                           <div class="dropdown-divider"></div>
					                 <a class="dropdown-item" href="#">Europe</a>
					             </div>
					          </li>
                   
                    <li class="nav-item">
                      <a class="nav-link" href="#">Evènements</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">A venir</a>
                    </li>
                </ul>

               <!-- Changer la police -->  
                <nav>
                    <div class="nav-item">
                      <a class="nav-link" href="#">S'inscrire</a>
                    </div>
                    <div class="nav-item">
                      <a class="nav-link" href="#">Se connecter</a>
                    </div>
                </nav>

                

                </div>
              </nav>
            </div>
</head>

<body>


         


</body>
</html>